In [7]:
import pandas as pd
filepath = '../raw_data/dynamism_data/bds2022_gr_vcn3.csv'
df = pd.read_csv(filepath, encoding='latin1', low_memory=False)

In [9]:
df.head(20)

,year,fempgr_gr,vcnaics3,firms,estabs,emp,denom,estabs_entry,estabs_entry_rate,estabs_exit,...,job_destruction_deaths,job_destruction_continuers,job_destruction_rate_deaths,job_destruction_rate,net_job_creation,net_job_creation_rate,reallocation_rate,firmdeath_firms,firmdeath_estabs,firmdeath_emp
0,1978,a) -2,113,0,0,0,3522,0,0.000,2074,...,7044,0,200.000,200.000,-7044,-200.000,0.000,1553,1556,5409
1,1978,a) -2,114,0,0,0,645,0,0.000,390,...,1290,0,200.000,200.000,-1290,-200.000,0.000,297,297,863
2,1978,a) -2,115,0,0,0,3446,0,0.000,1080,...,6892,0,200.000,200.000,-6892,-200.000,0.000,840,862,5775
3,1978,a) -2,211,0,0,0,1084,0,0.000,578,...,2168,0,200.000,200.000,-2168,-200.000,0.000,391,402,1637
4,1978,a) -2,212,0,0,0,6041,0,0.000,972,...,12081,0,200.000,200.000,-12081,-200.000,0.000,736,748,10065
5,1978,a) -2,213,0,0,0,3044,0,0.000,838,...,6087,0,200.000,200.000,-6087,-200.000,0.000,621,633,5010
6,1978,a) -2,221,0,0,0,1013,0,0.000,277,...,2026,0,200.000,200.000,-2026,-200.000,0.000,215,217,1820
7,1978,a) -2,236,0,0,0,39320,0,0.000,19801,...,78640,0,200.000,200.000,-78640,-200.000,0.000,15543,15554,64380
8,1978,a) -2,237,0,0,0,13283,0,0.000,4272,...,26565,0,200.000,200.000,-26565,-200.000,0.000,3374,3384,21800
9,1978,a) -2,238,0,0,0,63058,0,0.000,31662,...,126115,0,200.000,200.000,-126115,-200.000,0.000,24925,24934,103855
10,1978,a) -2,311,0,0,0,15134,0,0.000,2289,...,30268,0,200.000,200.000,-30268,-200.000,0.000,1813,1850,23679
11,1978,a) -2,312,0,0,0,1339,0,0.000,170,...,2678,0,200.000,200.000,-2678,-200.000,0.000,145,146,2403
12,1978,a) -2,313,0,0,0,4920,0,0.000,338,...,9840,0,200.000,200.000,-9840,-200.000,0.000,271,272,7469
13,1978,a) -2,314,0,0,0,3781,0,0.000,747,...,7562,0,200.000,200.000,-7562,-200.000,0.000,635,635,5959
14,1978,a) -2,315,0,0,0,25215,0,0.000,2125,...,50429,0,200.000,200.000,-50429,-200.000,0.000,1772,1787,41343
15,1978,a) -2,316,0,0,0,2245,0,0.000,230,...,4489,0,200.000,200.000,-4489,-200.000,0.000,192,195,3502
16,1978,a) -2,321,0,0,0,7580,0,0.000,1555,...,15160,0,200.000,200.000,-15160,-200.000,0.000,1240,1250,12303
17,1978,a) -2,322,0,0,0,1952,0,0.000,169,...,3904,0,200.000,200.000,-3904,-200.000,0.000,139,140,3056
18,1978,a) -2,323,0,0,0,7316,0,0.000,2446,...,14632,0,200.000,200.000,-14632,-200.000,0.000,1947,1954,11640
19,1978,a) -2,324,0,0,0,502,0,0.000,74,...,1004,0,200.000,200.000,-1004,-200.000,0.000,62,63,880

In [11]:
print("Number of NaN values in fempgr_gr:", df['fempgr_gr'].isna().sum())
print("Total rows:", len(df))

print("Data type of fempgr_gr:", df['fempgr_gr'].dtype)
print("\nFirst 10 values of fempgr_gr:")
print(df['fempgr_gr'].head(10))

print("\nAny non-NaN values?", df['fempgr_gr'].notna().any())

Number of NaN values in fempgr_gr: 0
Total rows: 34830
Data type of fempgr_gr: object

First 10 values of fempgr_gr:
0    a) -2
1    a) -2
2    a) -2
3    a) -2
4    a) -2
5    a) -2
6    a) -2
7    a) -2
8    a) -2
9    a) -2
Name: fempgr_gr, dtype: object

Any non-NaN values? True

In [13]:
df['fempgr_gr'].unique()

array(['a) -2', 'b) (-2 to -0.8]', 'c) (-0.8 to -0.2]',
       'd) (-0.2 to -0.01]', 'e) (-0.01 to 0.01)', 'f) [0.01 to 0.2)',
       'g) [0.2 to 0.8)', 'h) [0.8 to 2)', 'i) 2'], dtype=object)

In [15]:
df.columns

Index(['year', 'fempgr_gr', 'vcnaics3', 'firms', 'estabs', 'emp', 'denom',
       'estabs_entry', 'estabs_entry_rate', 'estabs_exit', 'estabs_exit_rate',
       'job_creation', 'job_creation_births', 'job_creation_continuers',
       'job_creation_rate_births', 'job_creation_rate', 'job_destruction',
       'job_destruction_deaths', 'job_destruction_continuers',
       'job_destruction_rate_deaths', 'job_destruction_rate',
       'net_job_creation', 'net_job_creation_rate', 'reallocation_rate',
       'firmdeath_firms', 'firmdeath_estabs', 'firmdeath_emp'],
      dtype='object')

In [17]:
df.dtypes

year                            int64
fempgr_gr                      object
vcnaics3                        int64
firms                          object
estabs                         object
emp                            object
denom                          object
estabs_entry                   object
estabs_entry_rate              object
estabs_exit                    object
estabs_exit_rate               object
job_creation                   object
job_creation_births            object
job_creation_continuers        object
job_creation_rate_births       object
job_creation_rate              object
job_destruction                object
job_destruction_deaths         object
job_destruction_continuers     object
job_destruction_rate_deaths    object
job_destruction_rate           object
net_job_creation               object
net_job_creation_rate          object
reallocation_rate              object
firmdeath_firms                object
firmdeath_estabs               object
firmdeath_emp                  object
dtype: object

In [19]:
df['emp'] = pd.to_numeric(df['emp'], errors='coerce')
df['is_high_growth'] = df['fempgr_gr'].isin(['h) [0.8 to 2)', 'i) 2']).astype(int)
df['emp_high_growth'] = df['emp'] * df['is_high_growth']

hgfs_by_industry = df.groupby(['year', 'vcnaics3']).agg({
    'emp_high_growth': 'sum',
    'emp': 'sum'
}).reset_index()

hgfs_by_industry['pct_high_growth_emp'] = (hgfs_by_industry['emp_high_growth'] / hgfs_by_industry['emp']) * 100
hgfs_by_industry = hgfs_by_industry[['year', 'vcnaics3', 'pct_high_growth_emp']]
hgfs_by_industry = hgfs_by_industry.sort_values(['year', 'vcnaics3']).reset_index(drop=True)

print(hgfs_by_industry.head(10))
print(f"\nDataframe shape: {hgfs_by_industry.shape}")

   year  vcnaics3  pct_high_growth_emp
0  1978       113            17.914801
1  1978       114            34.516995
2  1978       115            20.457569
3  1978       211             7.053673
4  1978       212             5.547968
5  1978       213            12.482739
6  1978       221             0.485486
7  1978       236            25.748477
8  1978       237            14.338048
9  1978       238            20.385673

Dataframe shape: (3870, 3)

In [32]:
output_path = '../processed_data/hgfs_by_industry.csv'
hgfs_by_industry.to_csv(output_path, index=False)

print(f"CSV file saved to: {output_path}")
print(f"File contains {len(hgfs_by_industry)} rows")
print(hgfs_by_industry.head())

CSV file saved to: ../processed_data/hgfs_by_industry.csv
File contains 3870 rows
   year  vcnaics3  pct_high_growth_emp
0  1978       113            17.914801
1  1978       114            34.516995
2  1978       115            20.457569
3  1978       211             7.053673
4  1978       212             5.547968