In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('/Users/danielseymour/Developer/EC334-Summative/processed_data/three_digit_NAICS_bds_tfp.csv')
df.head()

,year,NAICS,firms,estabs,emp,denom,estabs_entry,estabs_entry_rate,estabs_exit,estabs_exit_rate,job_creation,job_creation_births,job_creation_continuers,job_creation_rate_births,job_creation_rate,job_destruction,job_destruction_deaths,job_destruction_continuers,job_destruction_rate_deaths,job_destruction_rate,net_job_creation,net_job_creation_rate,reallocation_rate,firmdeath_firms,firmdeath_estabs,firmdeath_emp,Industry,Basis,weight,tfp_pct_change,tfp_index_2017,firms_percent_destroyed
0,1987,211,7297,8942,130532,142230,909,9.665,1836,19.520,19496,7354,12142,5.170,13.707,42920,15291,27629,10.751,30.176,-23424,-16.469,27.415,1204,1216,5416,Oil and gas extraction,All workers,0.023260,NaN,60.776,16.499931
1,1987,212,6245,8515,285319,296796,1120,13.007,1312,15.236,47729,19807,27922,6.674,16.081,70599,28991,41608,9.768,23.787,-22870,-7.706,32.163,767,775,9355,"Mining, except oil and gas",All workers,0.012166,NaN,86.967,12.281825
2,1987,213,8315,9765,162956,193482,1262,11.900,2942,27.742,30660,14267,16393,7.374,15.846,91515,31566,59949,16.315,47.299,-60855,-31.453,31.693,2061,2073,17203,Support activities for mining,All workers,0.003770,NaN,58.849,24.786530
3,1987,321,14489,16107,517089,510664,1884,11.717,1828,11.369,84106,22267,61839,4.360,16.470,71067,35725,35342,6.996,13.917,13039,2.553,27.833,1320,1328,18984,Wood products,All workers,0.016190,NaN,104.620,9.110360
4,1987,322,3683,5633,572571,572627,330,5.847,351,6.220,42902,11418,31484,1.994,7.492,43096,12901,30195,2.253,7.526,-194,-0.034,14.984,227,228,5271,Paper products,All workers,0.028750,NaN,96.878,6.163454

In [8]:
# Set display options to show all columns
pd.set_option('display.max_columns', None)

# Set display options to show all rows
pd.set_option('display.max_rows', None)

df.describe()

,year,NAICS,firms,estabs,emp,denom,estabs_entry,estabs_entry_rate,estabs_exit,estabs_exit_rate,job_creation,job_creation_births,job_creation_continuers,job_creation_rate_births,job_creation_rate,job_destruction,job_destruction_deaths,job_destruction_continuers,job_destruction_rate_deaths,job_destruction_rate,net_job_creation,net_job_creation_rate,reallocation_rate,firmdeath_firms,firmdeath_estabs,firmdeath_emp,weight,tfp_pct_change,tfp_index_2017,firms_percent_destroyed
count,1296.000000,1296.000000,1296.000000,1296.000000,1.296000e+03,1.296000e+03,1296.000000,1296.000000,1296.000000,1296.000000,1.296000e+03,1296.000000,1.296000e+03,1296.000000,1296.000000,1.296000e+03,1296.000000,1.296000e+03,1296.000000,1296.000000,1.296000e+03,1296.000000,1296.000000,1296.000000,1296.000000,1296.000000,1296.000000,1260.000000,1296.000000,1296.000000
mean,2004.500000,439.083333,54065.418981,67767.675926,1.310584e+06,1.301591e+06,7730.979167,10.270720,6808.048611,9.790101,2.071624e+05,74559.801698,1.326026e+05,4.920853,14.293715,1.891669e+05,64569.100309,1.245978e+05,4.755776,13.845778,1.799557e+04,0.447952,24.190044,4576.588735,4674.445216,34474.850309,0.027562,0.767063,94.250076,8.049053
std,10.392305,140.436284,96608.319576,122389.195735,2.087011e+06,2.063622e+06,14257.005672,4.770377,12265.231277,3.631869,3.926893e+05,156894.283644,2.457642e+05,4.708577,6.925070,3.489188e+05,121452.502630,2.302359e+05,3.234441,6.196792,1.096836e+05,6.634671,9.696577,8507.229254,8726.956074,71561.102724,0.026230,5.545411,15.912088,3.008316
min,1987.000000,211.000000,152.000000,160.000000,1.512000e+03,2.055000e+03,29.000000,2.600000,38.000000,3.424000,2.400000e+02,111.000000,1.290000e+02,0.436000,3.602000,4.450000e+02,204.000000,1.050000e+02,0.390000,2.744000,-1.588972e+06,-54.209000,5.489000,4.000000,4.000000,21.000000,0.002737,-47.800000,16.261000,2.211302
25%,1995.750000,326.750000,5613.500000,6916.500000,3.434062e+05,3.434355e+05,592.000000,6.858250,636.750000,7.305500,3.688400e+04,8700.750000,2.720550e+04,2.335750,9.675500,3.882575e+04,11822.250000,2.541500e+04,3.001250,9.884500,-6.559250e+03,-1.667500,17.483750,356.500000,362.500000,3915.750000,0.010048,-1.500000,88.462750,5.949181
50%,2004.500000,482.000000,13942.500000,16213.000000,5.973095e+05,5.987760e+05,1646.000000,9.607500,1684.000000,9.145500,7.111150e+04,19400.000000,5.229000e+04,4.165000,13.095000,7.245000e+04,23196.000000,5.052300e+04,4.124500,12.740500,3.319000e+03,1.002500,22.688000,1179.000000,1189.500000,10214.000000,0.017610,0.500000,97.249000,7.506130
75%,2013.250000,524.250000,48112.750000,56022.250000,1.354233e+06,1.352021e+06,5862.250000,12.752500,5054.250000,11.635500,1.888415e+05,63412.500000,1.235045e+05,6.272000,17.370500,1.745168e+05,55113.500000,1.154810e+05,5.775000,16.241250,2.363300e+04,3.090500,28.964500,3469.250000,3492.250000,28413.250000,0.036867,2.600000,101.749500,9.592378
max,2022.000000,722.000000,454704.000000,635402.000000,1.233226e+07,1.227560e+07,76884.000000,52.235000,71767.000000,48.831000,2.670136e+06,933155.000000,1.812727e+06,76.891000,87.265000,3.014094e+06,859954.000000,2.229294e+06,59.854000,65.888000,1.327078e+06,72.973000,109.855000,45190.000000,46359.000000,434857.000000,0.161923,45.800000,180.413000,40.789474

In [9]:
print(df.describe().to_latex())

\begin{tabular}{lrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr}
\toprule
 & year & NAICS & firms & estabs & emp & denom & estabs_entry & estabs_entry_rate & estabs_exit & estabs_exit_rate & job_creation & job_creation_births & job_creation_continuers & job_creation_rate_births & job_creation_rate & job_destruction & job_destruction_deaths & job_destruction_continuers & job_destruction_rate_deaths & job_destruction_rate & net_job_creation & net_job_creation_rate & reallocation_rate & firmdeath_firms & firmdeath_estabs & firmdeath_emp & weight & tfp_pct_change & tfp_index_2017 & firms_percent_destroyed \\
\midrule
count & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1296.000000 & 1260.000000 & 1296.000000 & 1296.000000 \\
mean & 2004.500000 & 439.083333 & 54065.418981 & 67767.675926 & 1310584.192130 & 1301590.740741 & 7730.979167 & 10.270720 & 6808.048611 & 9.790101 & 207162.424383 & 74559.801698 & 132602.622685 & 4.920853 & 14.293715 & 189166.857253 & 64569.100309 & 124597.756944 & 4.755776 & 13.845778 & 17995.567130 & 0.447952 & 24.190044 & 4576.588735 & 4674.445216 & 34474.850309 & 0.027562 & 0.767063 & 94.250076 & 8.049053 \\
std & 10.392305 & 140.436284 & 96608.319576 & 122389.195735 & 2087011.215067 & 2063622.027355 & 14257.005672 & 4.770377 & 12265.231277 & 3.631869 & 392689.294316 & 156894.283644 & 245764.225302 & 4.708577 & 6.925070 & 348918.783178 & 121452.502630 & 230235.897093 & 3.234441 & 6.196792 & 109683.602881 & 6.634671 & 9.696577 & 8507.229254 & 8726.956074 & 71561.102724 & 0.026230 & 5.545411 & 15.912088 & 3.008316 \\
min & 1987.000000 & 211.000000 & 152.000000 & 160.000000 & 1512.000000 & 2055.000000 & 29.000000 & 2.600000 & 38.000000 & 3.424000 & 240.000000 & 111.000000 & 129.000000 & 0.436000 & 3.602000 & 445.000000 & 204.000000 & 105.000000 & 0.390000 & 2.744000 & -1588972.000000 & -54.209000 & 5.489000 & 4.000000 & 4.000000 & 21.000000 & 0.002737 & -47.800000 & 16.261000 & 2.211302 \\
25% & 1995.750000 & 326.750000 & 5613.500000 & 6916.500000 & 343406.250000 & 343435.500000 & 592.000000 & 6.858250 & 636.750000 & 7.305500 & 36884.000000 & 8700.750000 & 27205.500000 & 2.335750 & 9.675500 & 38825.750000 & 11822.250000 & 25415.000000 & 3.001250 & 9.884500 & -6559.250000 & -1.667500 & 17.483750 & 356.500000 & 362.500000 & 3915.750000 & 0.010048 & -1.500000 & 88.462750 & 5.949181 \\
50% & 2004.500000 & 482.000000 & 13942.500000 & 16213.000000 & 597309.500000 & 598776.000000 & 1646.000000 & 9.607500 & 1684.000000 & 9.145500 & 71111.500000 & 19400.000000 & 52290.000000 & 4.165000 & 13.095000 & 72450.000000 & 23196.000000 & 50523.000000 & 4.124500 & 12.740500 & 3319.000000 & 1.002500 & 22.688000 & 1179.000000 & 1189.500000 & 10214.000000 & 0.017610 & 0.500000 & 97.249000 & 7.506130 \\
75% & 2013.250000 & 524.250000 & 48112.750000 & 56022.250000 & 1354233.250000 & 1352021.000000 & 5862.250000 & 12.752500 & 5054.250000 & 11.635500 & 188841.500000 & 63412.500000 & 123504.500000 & 6.272000 & 17.370500 & 174516.750000 & 55113.500000 & 115481.000000 & 5.775000 & 16.241250 & 23633.000000 & 3.090500 & 28.964500 & 3469.250000 & 3492.250000 & 28413.250000 & 0.036867 & 2.600000 & 101.749500 & 9.592378 \\
max & 2022.000000 & 722.000000 & 454704.000000 & 635402.000000 & 12332259.000000 & 12275597.000000 & 76884.000000 & 52.235000 & 71767.000000 & 48.831000 & 2670136.000000 & 933155.000000 & 1812727.000000 & 76.891000 & 87.265000 & 3014094.000000 & 859954.000000 & 2229294.000000 & 59.854000 & 65.888000 & 1327078.000000 & 72.973000 & 109.855000 & 45190.000000 & 46359.000000 & 434857.000000 & 0.161923 & 45.800000 & 180.413000 & 40.789474 \\
\bottomrule
\end{tabular}

In [10]:
# df is the DataFrame you showed
df['eer'] = (df['job_creation_births'] / df['denom'])*100

In [11]:
df.columns

Index(['year', 'NAICS', 'firms', 'estabs', 'emp', 'denom', 'estabs_entry',
       'estabs_entry_rate', 'estabs_exit', 'estabs_exit_rate', 'job_creation',
       'job_creation_births', 'job_creation_continuers',
       'job_creation_rate_births', 'job_creation_rate', 'job_destruction',
       'job_destruction_deaths', 'job_destruction_continuers',
       'job_destruction_rate_deaths', 'job_destruction_rate',
       'net_job_creation', 'net_job_creation_rate', 'reallocation_rate',
       'firmdeath_firms', 'firmdeath_estabs', 'firmdeath_emp', 'Industry',
       'Basis', 'weight', 'tfp_pct_change', 'tfp_index_2017',
       'firms_percent_destroyed', 'eer'],
      dtype='object')

In [12]:
hgfs_by_industry = pd.read_csv('/Users/danielseymour/Developer/EC334-Summative/processed_data/hgfs_by_industry.csv')
hgfs_by_industry.head()

   year  vcnaics3  pct_high_growth_emp
0  1978       113            17.914801
1  1978       114            34.516995
2  1978       115            20.457569
3  1978       211             7.053673
4  1978       212             5.547968

In [13]:
hgfs_by_industry.columns

Index(['year', 'vcnaics3', 'pct_high_growth_emp'], dtype='object')

In [14]:
# Merge high growth employment rate into df
df = pd.merge(df, 
              hgfs_by_industry, 
              left_on=['year', 'NAICS'], 
              right_on=['year', 'vcnaics3'], 
              how='left')

# Drop the duplicate vcnaics3 column after merge
df = df.drop('vcnaics3', axis=1)

# Check the merge results
print("Merge summary:")
print(f"Total rows in df: {len(df)}")
print(f"Rows with high growth data: {df['pct_high_growth_emp'].notna().sum()}")
print(f"Rows missing high growth data: {df['pct_high_growth_emp'].isna().sum()}")

# View sample of merged data
print("\nSample of merged data:")
print(df[['year', 'NAICS', 'Industry', 'emp', 'pct_high_growth_emp']].head(10))

# Check if any NAICS codes didn't match
missing_matches = df[df['pct_high_growth_emp'].isna()][['year', 'NAICS', 'Industry']].drop_duplicates()
if len(missing_matches) > 0:
    print(f"\nSample of unmatched NAICS codes:")
    print(missing_matches.head(10))

Merge summary:
Total rows in df: 1296
Rows with high growth data: 1296
Rows missing high growth data: 0

Sample of merged data:
   year  NAICS                                 Industry     emp  \
0  1987    211                   Oil and gas extraction  130532
1  1987    212               Mining, except oil and gas  285319
2  1987    213            Support activities for mining  162956
3  1987    321                            Wood products  517089
4  1987    322                           Paper products  572571
5  1987    323  Printing and related support activities  797309
6  1987    324              Petroleum and coal products  113645
7  1987    325                        Chemical products  867115
8  1987    326             Plastics and rubber products  802850
9  1987    327             Nonmetallic mineral products  500140

   pct_high_growth_emp
0             4.685441
1             6.086521
2             6.601782
3             5.893956
4             1.237576
5             4.947392
6             1.668353
7             1.948184
8             3.753129
9             3.859719

In [15]:
df.columns

Index(['year', 'NAICS', 'firms', 'estabs', 'emp', 'denom', 'estabs_entry',
       'estabs_entry_rate', 'estabs_exit', 'estabs_exit_rate', 'job_creation',
       'job_creation_births', 'job_creation_continuers',
       'job_creation_rate_births', 'job_creation_rate', 'job_destruction',
       'job_destruction_deaths', 'job_destruction_continuers',
       'job_destruction_rate_deaths', 'job_destruction_rate',
       'net_job_creation', 'net_job_creation_rate', 'reallocation_rate',
       'firmdeath_firms', 'firmdeath_estabs', 'firmdeath_emp', 'Industry',
       'Basis', 'weight', 'tfp_pct_change', 'tfp_index_2017',
       'firms_percent_destroyed', 'eer', 'pct_high_growth_emp'],
      dtype='object')

In [16]:
import numpy as np

# 1. Log TFP
df['tfp_log'] = np.log(df['tfp_index_2017'])

# 2. 3-year difference by industry
df['tfp_diff3'] = df.groupby('NAICS')['tfp_log'].diff(3)

In [17]:
# 2) Convert that 3-year log change into an annualized percent growth:
#    exact formula: (exp(diff3)^(1/3) – 1) × 100
df['tfp_ann_pct'] = (np.exp(df['tfp_diff3'])**(1/3) - 1) * 100

In [20]:
df.tail()

,year,NAICS,firms,estabs,emp,denom,estabs_entry,estabs_entry_rate,estabs_exit,estabs_exit_rate,job_creation,job_creation_births,job_creation_continuers,job_creation_rate_births,job_creation_rate,job_destruction,job_destruction_deaths,job_destruction_continuers,job_destruction_rate_deaths,job_destruction_rate,net_job_creation,net_job_creation_rate,reallocation_rate,firmdeath_firms,firmdeath_estabs,firmdeath_emp,Industry,Basis,weight,tfp_pct_change,tfp_index_2017,firms_percent_destroyed,eer,pct_high_growth_emp,tfp_log,tfp_diff3,tfp_ann_pct
1291,2022,621,450740,620088,8392857,8262094,61433,10.005,49341,8.035,1316038,416275,899763,5.038,15.929,1052608,371926,680682,4.502,12.740,263430,3.188,25.480,34991,36476,214745,Ambulatory health care services,All workers,0.080339,1.5,103.482,7.763012,5.038372,4.878970,4.639398,0.013925,0.465245
1292,2022,624,133146,179771,3417375,3323171,19451,10.969,14572,8.217,590955,156755,434200,4.717,17.783,401058,129559,271499,3.899,12.069,189897,5.714,24.137,9806,10040,65897,Social assistance,All workers,0.013749,3.1,99.568,7.364848,4.717031,5.642928,4.600841,-0.008162,-0.271697
1293,2022,713,63121,75470,1639240,1504188,10047,13.588,6987,9.450,395469,82284,313185,5.470,26.291,127890,50095,77795,3.330,8.502,267579,17.789,17.005,5440,5527,37602,"Amusements, gambling, and recreation industries",All workers,0.011083,1.8,100.805,8.618368,5.470327,8.825675,4.613188,0.018149,0.606798
1294,2022,721,51451,64105,1767485,1633253,6530,10.209,6241,9.758,411723,85705,326018,5.248,25.209,145253,69750,75503,4.271,8.893,266470,16.315,17.787,4391,4562,41328,Accommodation,All workers,0.018431,-8.3,107.595,8.534334,5.247503,8.017381,4.678374,0.075747,2.557053
1295,2022,722,454704,635402,11979045,11320912,76884,12.338,52333,8.398,2670136,918022,1752114,8.109,23.586,1343058,507799,835259,4.485,11.864,1327078,11.722,23.727,38059,39868,333679,Food services and drinking places,All workers,0.058401,-0.2,102.157,8.370061,8.109082,9.761546,4.626511,0.014415,0.481646

In [22]:
# Select the variables for the summary table
selected_vars = ['tfp_ann_pct', 'tfp_pct_change', 'eer', 'reallocation_rate', 'pct_high_growth_emp']

# Get descriptive statistics for these columns
desc_stats = df[selected_vars].describe()

# Transpose to have variables as rows (standard format for econ papers)
desc_stats = desc_stats.T

# Select key statistics typically shown in economics papers
desc_stats = desc_stats[['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']]

# Rename columns to be more formal
desc_stats.columns = ['N', 'Mean', 'Std. Dev.', 'Min', 'p25', 'Median', 'p75', 'Max']

# Create nicer row labels
row_labels = {
   'tfp_ann_pct': 'Annualised TFP Growth (3-year difference)',
   'tfp_pct_change': 'TFP Growth Rate (%)',
   'eer': 'Employment Entry Rate (%)',
   'reallocation_rate': 'Excess Job Reallocation Rate',
   'pct_high_growth_emp': 'High-Growth Employment Share (%)'
}
desc_stats.index = desc_stats.index.map(row_labels)

# Round to 3 decimal places
desc_stats = desc_stats.round(3)

# Convert to LaTeX
latex_table = desc_stats.to_latex(
   float_format="%.3f",
   caption="Descriptive Statistics: Firm Dynamics and Productivity Measures",
   label="tab:firm_dynamics_stats",
   column_format='lrrrrrrrr'  # left-align first column, right-align numbers
)

# Print the LaTeX code
print(latex_table)

# Save to file
with open('/Users/danielseymour/Developer/EC334-Summative/tables/firm_dynamics_stats.tex', 'w') as f:
   f.write(latex_table)

# Also display the dataframe
print("\nDescriptive Statistics:")
print(desc_stats)
print("\nLaTeX table saved to: /Users/danielseymour/Developer/EC334-Summative/tables/firm_dynamics_stats.tex")

\begin{table}
\caption{Descriptive Statistics: Firm Dynamics and Productivity Measures}
\label{tab:firm_dynamics_stats}
\begin{tabular}{lrrrrrrrr}
\toprule
 & N & Mean & Std. Dev. & Min & p25 & Median & p75 & Max \\
\midrule
Annualised TFP Growth (3-year difference) & 1188.000 & 0.630 & 2.867 & -18.794 & -0.722 & 0.386 & 1.666 & 16.797 \\
TFP Growth Rate (%) & 1260.000 & 0.767 & 5.545 & -47.800 & -1.500 & 0.500 & 2.600 & 45.800 \\
Employment Entry Rate (%) & 1296.000 & 4.921 & 4.708 & 0.436 & 2.336 & 4.165 & 6.272 & 76.879 \\
Excess Job Reallocation Rate & 1296.000 & 24.190 & 9.697 & 5.489 & 17.484 & 22.688 & 28.964 & 109.855 \\
High-Growth Employment Share (%) & 1296.000 & 4.521 & 4.299 & 0.203 & 1.882 & 3.389 & 5.980 & 48.947 \\
\bottomrule
\end{tabular}
\end{table}


Descriptive Statistics:
                                                N    Mean  Std. Dev.     Min  \
Annualised TFP Growth (3-year difference)  1188.0   0.630      2.867 -18.794
TFP Growth Rate (%)                        1260.0   0.767      5.545 -47.800
Employment Entry Rate (%)                  1296.0   4.921      4.708   0.436
Excess Job Reallocation Rate               1296.0  24.190      9.697   5.489
High-Growth Employment Share (%)           1296.0   4.521      4.299   0.203

                                              p25  Median     p75      Max
Annualised TFP Growth (3-year difference)  -0.722   0.386   1.666   16.797
TFP Growth Rate (%)                        -1.500   0.500   2.600   45.800
Employment Entry Rate (%)                   2.336   4.165   6.272   76.879
Excess Job Reallocation Rate               17.484  22.688  28.964  109.855
High-Growth Employment Share (%)            1.882   3.389   5.980   48.947

LaTeX table saved to: /Users/danielseymour/Developer/EC334-Summative/tables/firm_dynamics_stats.tex

In [24]:
# Correlation matrix for key variables
corr_vars = ['tfp_ann_pct','tfp_pct_change', 'eer', 'reallocation_rate', 'pct_high_growth_emp']
corr_matrix = df[corr_vars].corr()
print("\nCorrelation Matrix:")
print(corr_matrix.round(3))

Correlation Matrix:
                     tfp_ann_pct  tfp_pct_change    eer  reallocation_rate  \
tfp_ann_pct                1.000           0.537 -0.038             -0.020
tfp_pct_change             0.537           1.000 -0.020             -0.008
eer                       -0.038          -0.020  1.000              0.732
reallocation_rate         -0.020          -0.008  0.732              1.000
pct_high_growth_emp       -0.090          -0.043  0.793              0.740

                     pct_high_growth_emp
tfp_ann_pct                       -0.090
tfp_pct_change                    -0.043
eer                                0.793
reallocation_rate                  0.740
pct_high_growth_emp                1.000

In [25]:
corr_matrix.round(3)

,tfp_ann_pct,tfp_pct_change,eer,reallocation_rate,pct_high_growth_emp
tfp_ann_pct,1.000,0.537,-0.038,-0.020,-0.090
tfp_pct_change,0.537,1.000,-0.020,-0.008,-0.043
eer,-0.038,-0.020,1.000,0.732,0.793
reallocation_rate,-0.020,-0.008,0.732,1.000,0.740
pct_high_growth_emp,-0.090,-0.043,0.793,0.740,1.000

In [26]:
# Method 1: Check if every industry appears in every year
# Get unique years and industries
years = df['year'].unique()
industries = df['NAICS'].unique() if 'NAICS' in df.columns else df['naics3'].unique()

# Create a complete panel (all possible combinations)
from itertools import product
complete_panel = pd.DataFrame(list(product(years, industries)), 
                            columns=['year', 'NAICS'])

# Check actual vs expected observations
expected_obs = len(years) * len(industries)
actual_obs = len(df)
is_balanced = expected_obs == actual_obs

print(f"Expected observations (if balanced): {expected_obs}")
print(f"Actual observations: {actual_obs}")
print(f"Panel is {'balanced' if is_balanced else 'unbalanced'}")

# Method 2: Count observations per industry
obs_per_industry = df.groupby('NAICS' if 'NAICS' in df.columns else 'naics3').size()
print(f"\nObservations per industry - Min: {obs_per_industry.min()}, Max: {obs_per_industry.max()}")
print(f"All industries have same number of observations: {obs_per_industry.min() == obs_per_industry.max()}")

# Method 3: Find which industries/years are missing (if unbalanced)
if not is_balanced:
    # Merge to find missing combinations
    df_check = df[['year', 'NAICS' if 'NAICS' in df.columns else 'naics3']].drop_duplicates()
    df_check['exists'] = 1
    
    complete_check = complete_panel.merge(df_check, 
                                        on=['year', 'NAICS'], 
                                        how='left')
    
    missing = complete_check[complete_check['exists'].isna()]
    print(f"\nNumber of missing industry-year combinations: {len(missing)}")
    print("\nSample of missing observations:")
    print(missing.head(10))
    
    # Which industries have missing years?
    missing_by_industry = missing.groupby('NAICS').size().sort_values(ascending=False)
    print(f"\nIndustries with most missing years:")
    print(missing_by_industry.head())

# Create a more detailed panel summary
panel_info = pd.DataFrame({
    'Panel Characteristic': [
        'Total Observations',
        'Number of Industries', 
        'Number of Years',
        'Expected Obs (if balanced)',
        'Missing Observations',
        'Panel Type',
        'Completeness (%)'
    ],
    'Value': [
        actual_obs,
        len(industries),
        len(years),
        expected_obs,
        expected_obs - actual_obs,
        'Balanced' if is_balanced else 'Unbalanced',
        f"{(actual_obs/expected_obs)*100:.1f}%"
    ]
})

print("\nPanel Summary:")
print(panel_info)

Expected observations (if balanced): 1296
Actual observations: 1296
Panel is balanced

Observations per industry - Min: 36, Max: 36
All industries have same number of observations: True

Panel Summary:
         Panel Characteristic     Value
0          Total Observations      1296
1        Number of Industries        36
2             Number of Years        36
3  Expected Obs (if balanced)      1296
4        Missing Observations         0
5                  Panel Type  Balanced
6            Completeness (%)    100.0%

In [27]:
df.head()

,year,NAICS,firms,estabs,emp,denom,estabs_entry,estabs_entry_rate,estabs_exit,estabs_exit_rate,job_creation,job_creation_births,job_creation_continuers,job_creation_rate_births,job_creation_rate,job_destruction,job_destruction_deaths,job_destruction_continuers,job_destruction_rate_deaths,job_destruction_rate,net_job_creation,net_job_creation_rate,reallocation_rate,firmdeath_firms,firmdeath_estabs,firmdeath_emp,Industry,Basis,weight,tfp_pct_change,tfp_index_2017,firms_percent_destroyed,eer,pct_high_growth_emp,tfp_log,tfp_diff3,tfp_ann_pct
0,1987,211,7297,8942,130532,142230,909,9.665,1836,19.520,19496,7354,12142,5.170,13.707,42920,15291,27629,10.751,30.176,-23424,-16.469,27.415,1204,1216,5416,Oil and gas extraction,All workers,0.023260,NaN,60.776,16.499931,5.170498,4.685441,4.107195,NaN,NaN
1,1987,212,6245,8515,285319,296796,1120,13.007,1312,15.236,47729,19807,27922,6.674,16.081,70599,28991,41608,9.768,23.787,-22870,-7.706,32.163,767,775,9355,"Mining, except oil and gas",All workers,0.012166,NaN,86.967,12.281825,6.673607,6.086521,4.465529,NaN,NaN
2,1987,213,8315,9765,162956,193482,1262,11.900,2942,27.742,30660,14267,16393,7.374,15.846,91515,31566,59949,16.315,47.299,-60855,-31.453,31.693,2061,2073,17203,Support activities for mining,All workers,0.003770,NaN,58.849,24.786530,7.373813,6.601782,4.074975,NaN,NaN
3,1987,321,14489,16107,517089,510664,1884,11.717,1828,11.369,84106,22267,61839,4.360,16.470,71067,35725,35342,6.996,13.917,13039,2.553,27.833,1320,1328,18984,Wood products,All workers,0.016190,NaN,104.620,9.110360,4.360401,5.893956,4.650335,NaN,NaN
4,1987,322,3683,5633,572571,572627,330,5.847,351,6.220,42902,11418,31484,1.994,7.492,43096,12901,30195,2.253,7.526,-194,-0.034,14.984,227,228,5271,Paper products,All workers,0.028750,NaN,96.878,6.163454,1.993968,1.237576,4.573452,NaN,NaN

In [28]:
# Save to your specific folder
folder_path = '/Users/danielseymour/Developer/EC334-Summative/processed_data/'

# Option 1: Save as CSV
df.to_csv(folder_path + 'three_digit_NAICS_final.csv', index=False)