In [1]:
# Import necessary libraries
import pandas as pd

In [2]:
bds_df = pd.read_csv("/Users/danielseymour/Developer/EC334-Summative/data/bds2022_vcn4.csv")

In [3]:
# Read the Excel file
file_path = '/Users/danielseymour/Developer/EC334-Summative/data/major-industry-total-factor-productivity-klems.xlsx'
sectoral_tfp_df = pd.read_excel(file_path, skiprows=2)

In [1]:
bds_df.head()

NameError: name 'bds_df' is not defined

In [8]:
bds_df.columns

Index(['year', 'vcnaics4', 'firms', 'estabs', 'emp', 'denom', 'estabs_entry',
       'estabs_entry_rate', 'estabs_exit', 'estabs_exit_rate', 'job_creation',
       'job_creation_births', 'job_creation_continuers',
       'job_creation_rate_births', 'job_creation_rate', 'job_destruction',
       'job_destruction_deaths', 'job_destruction_continuers',
       'job_destruction_rate_deaths', 'job_destruction_rate',
       'net_job_creation', 'net_job_creation_rate', 'reallocation_rate',
       'firmdeath_firms', 'firmdeath_estabs', 'firmdeath_emp'],
      dtype='object')

In [5]:
sectoral_tfp_df.head()

,NAICS,Industry,Basis,Measure,Units,1987,1988,1989,1990,1991,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,11,"Agriculture, forestry, fishing, and hunting",All workers,Total factor productivity,Index (2017=100),68.776,63.369,66.843,70.492,71.025,...,94.762,98.336,101.636,100,101.95,98.023,98.695,100.794,98.656,101.821
1,11,"Agriculture, forestry, fishing, and hunting",All workers,Real sectoral output,Index (2017=100),72.72,69.774,73.276,76.132,76.815,...,96.435,96.605,100.246,100,98.864,97.441,104.338,104.053,96.543,98.312
2,11,"Agriculture, forestry, fishing, and hunting",All workers,Combined inputs,Index (2017=100),105.735,110.107,109.624,108.002,108.151,...,101.766,98.24,98.632,100,96.973,99.406,105.718,103.233,97.858,96.554
3,11,"Agriculture, forestry, fishing, and hunting",All workers,Capital input,Index (2017=100),101.071,105.418,106.614,105.037,103.572,...,102.654,100.559,98.793,100,101.437,101.012,101.146,104.809,110.118,109.055
4,11,"Agriculture, forestry, fishing, and hunting",All workers,Labor input,Index (2017=100),101.747,102.008,102.67,97.387,97.483,...,90.772,97.836,100.952,100,98.561,99.868,100.496,98.994,97.308,96.06

In [9]:
sectoral_tfp_df.columns

Index(['NAICS', 'Industry', 'Basis', 'Measure', 'Units', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

In [13]:
filtered_tfp_df = sectoral_tfp_df[sectoral_tfp_df['Measure'] == 'Total factor productivity']

In [ ]:
# First reshape the TFP dataset from wide to long format
tfp_long_df = pd.melt(
    sectoral_tfp_df,
    id_vars=['NAICS', 'Industry', 'Basis', 'Measure', 'Units'],
    value_vars=[str(year) for year in range(1987, 2024)],
    var_name='year',
    value_name='tfp_value'
)

# Convert year column to numeric for proper joining
tfp_long_df['year'] = pd.to_numeric(tfp_long_df['year'])

# Now filter to keep only Total factor productivity rows
tfp_long_df = tfp_long_df[tfp_long_df['Measure'] == 'Total factor productivity']

In [16]:
tfp_long_df.head(20)

,NAICS,Industry,Basis,Measure,Units,year,tfp_value
0,11,"Agriculture, forestry, fishing, and hunting",All workers,Total factor productivity,Index (2017=100),1987,68.776
38,11,"Agriculture, forestry, fishing, and hunting",All workers,Total factor productivity,% Change from previous year,1987,N.A.
90,111-112,Crop & animal production (Farms),All workers,Total factor productivity,Index (2017=100),1987,66.315
128,111-112,Crop & animal production (Farms),All workers,Total factor productivity,% Change from previous year,1987,N.A.
180,113-115,"Forestry, fishing, and related activities",All workers,Total factor productivity,Index (2017=100),1987,114.554
218,113-115,"Forestry, fishing, and related activities",All workers,Total factor productivity,% Change from previous year,1987,N.A.
270,21,Mining,All workers,Total factor productivity,Index (2017=100),1987,66.059
308,21,Mining,All workers,Total factor productivity,% Change from previous year,1987,N.A.
360,211,Oil and gas extraction,All workers,Total factor productivity,Index (2017=100),1987,60.776
398,211,Oil and gas extraction,All workers,Total factor productivity,% Change from previous year,1987,N.A.
450,212,"Mining, except oil and gas",All workers,Total factor productivity,Index (2017=100),1987,86.967
488,212,"Mining, except oil and gas",All workers,Total factor productivity,% Change from previous year,1987,N.A.
540,213,Support activities for mining,All workers,Total factor productivity,Index (2017=100),1987,58.849
578,213,Support activities for mining,All workers,Total factor productivity,% Change from previous year,1987,N.A.
630,22,Utilities,All workers,Total factor productivity,Index (2017=100),1987,76.927
668,22,Utilities,All workers,Total factor productivity,% Change from previous year,1987,N.A.
720,23,Construction,All workers,Total factor productivity,Index (2017=100),1987,116.637
758,23,Construction,All workers,Total factor productivity,% Change from previous year,1987,N.A.
810,MN,Manufacturing sector,All workers,Total factor productivity,Index (2017=100),1987,76.544
848,MN,Manufacturing sector,All workers,Total factor productivity,% Change from previous year,1987,N.A.

In [17]:
# Check for non-numeric NAICS codes in the TFP dataset
non_numeric_codes = []

for code in tfp_long_df['NAICS'].unique():
    # Check if the code contains any letters
    if not str(code).replace('-', '').isdigit():
        non_numeric_codes.append(code)

# Display all non-numeric codes
print(f"Non-numeric NAICS codes found: {len(non_numeric_codes)}")
print("List of non-numeric codes:")
for code in sorted(non_numeric_codes):
    print(f"- {code}")

# Count occurrences of each non-numeric code
if non_numeric_codes:
    print("\nOccurrences of each non-numeric code:")
    for code in sorted(non_numeric_codes):
        count = len(tfp_long_df[tfp_long_df['NAICS'] == code])
        print(f"- {code}: {count} rows")
        
        # Get unique industries associated with this code
        industries = tfp_long_df[tfp_long_df['NAICS'] == code]['Industry'].unique()
        print(f"  Industries: {', '.join(industries)}")

Non-numeric NAICS codes found: 8
List of non-numeric codes:
- 42,44-45
- 44,45
- 487,488,492
- 515,517
- 5412-5414,5416-5419
- DM
- MN
- ND

Occurrences of each non-numeric code:
- 42,44-45: 74 rows
  Industries: Trade
- 44,45: 74 rows
  Industries: Retail trade
- 487,488,492: 74 rows
  Industries: Other transportation and support activities
- 515,517: 74 rows
  Industries: Broadcasting and telecommunications
- 5412-5414,5416-5419: 74 rows
  Industries: Miscellaneous professional, scientific, and technical services
- DM: 74 rows
  Industries: Durable manufacturing sector
- MN: 74 rows
  Industries: Manufacturing sector
- ND: 74 rows
  Industries: Nondurable manufacturing sector

In [18]:
# Start with simple approach of two-digit NAICS codes, dropping any rows that don't have two digits and removing the change from previous year

import pandas as pd
import numpy as np

# Step 1: Filter the TFP dataset to keep only index values (not percentage changes)
tfp_filtered_df = tfp_long_df[tfp_long_df['Units'] == 'Index (2017=100)']

# Step 2: Filter to keep only standard 2-digit NAICS codes
# Function to check if a NAICS code is a standard 2-digit code
def is_standard_2digit(naics):
    naics_str = str(naics).strip()
    
    # Check if it's exactly 2 digits
    return naics_str.isdigit() and len(naics_str) == 2

# Apply filter to keep only standard 2-digit NAICS codes
tfp_filtered_df = tfp_filtered_df[tfp_filtered_df['NAICS'].apply(is_standard_2digit)]

# Step 3: Convert TFP values to numeric
tfp_filtered_df['tfp_value'] = pd.to_numeric(tfp_filtered_df['tfp_value'], errors='coerce')

# Step 4: Extract 2-digit NAICS from BDS data
bds_df['naics2'] = bds_df['vcnaics4'].astype(str).str[:2]

# Step 5: Convert all relevant columns in BDS data to numeric
# First identify columns that should be numeric
numeric_cols = [col for col in bds_df.columns if col not in ['year', 'naics2', 'vcnaics4']]

# Convert to numeric
for col in numeric_cols:
    bds_df[col] = pd.to_numeric(bds_df[col], errors='coerce')

# Step 6: Aggregate BDS data to 2-digit level
# Calculate weights for weighted averages
bds_df['weight'] = bds_df['emp'].fillna(0)

# Define column types
count_cols = [col for col in numeric_cols if 'rate' not in col and col != 'weight']
rate_cols = [col for col in numeric_cols if 'rate' in col]

# Basic aggregation for count columns
agg_dict = {col: 'sum' for col in count_cols}
grouped = bds_df.groupby(['year', 'naics2'])
bds_agg = grouped.agg(agg_dict)

# Weighted averages for rate columns
for col in rate_cols:
    # Skip if column doesn't exist or has all missing values
    if col not in bds_df.columns or bds_df[col].isna().all():
        continue
        
    # Calculate weighted values
    bds_df[f'{col}_weighted'] = bds_df[col] * bds_df['weight']
    
    # Sum weighted values and weights
    weighted_sums = grouped[f'{col}_weighted'].sum()
    weights = grouped['weight'].sum()
    
    # Calculate weighted average with epsilon to avoid division by zero
    epsilon = 1e-10
    bds_agg[col] = weighted_sums / (weights + epsilon)

# Reset index
bds_agg = bds_agg.reset_index()

# Step 7: Merge the datasets
merged_df = pd.merge(
    bds_agg,
    tfp_filtered_df,
    how='inner',
    left_on=['year', 'naics2'],
    right_on=['year', 'NAICS']
)

# Step 8: Check the result
print(f"Merged dataset shape: {merged_df.shape}")
print(f"Number of industries (NAICS codes): {merged_df['naics2'].nunique()}")
print(f"NAICS codes in merged data: {sorted(merged_df['naics2'].unique())}")
print(f"Year range: {merged_df['year'].min()} to {merged_df['year'].max()}")

# Display the first few rows
print("\nMerged dataset preview:")
print(merged_df.head())

# Optional: Save to CSV
# merged_df.to_csv('merged_bds_tfp_standard_2digit.csv', index=False)

Merged dataset shape: (576, 41)
Number of industries (NAICS codes): 16
NAICS codes in merged data: ['11', '21', '22', '23', '42', '51', '52', '53', '54', '55', '56', '61', '62', '71', '72', '81']
Year range: 1987 to 2022

Merged dataset preview:
   year naics2   firms  estabs      emp    denom  estabs_entry  estabs_exit  \
0  1987     11   18441   18977   170858   170502        3109.0       2811.0
1  1987     21   21931   27222   578807   632508        3291.0       6090.0
2  1987     22    5941   12393   774290   772759         654.0        575.0
3  1987     23  487015  492062  4965017  4877833       90479.0      66956.0
4  1987     42  286815  357272  4671838  4637357       43355.0      42714.0

   job_creation  job_creation_births  ...  job_destruction_rate_weighted  \
0         47169              17183.0  ...                   1.580903e+06
1         97821              41428.0  ...                   4.475415e+06
2         45824              13958.0  ...                   2.619630e+06
3       1407487             441939.0  ...                   1.739277e+07
4        883130             307018.0  ...                   6.574826e+06

   net_job_creation_rate_weighted  reallocation_rate_weighted  \
0                   -2.801412e+02                3.060074e+06
1                   -2.453275e+06                4.044377e+06
2                    1.438349e+05                5.238790e+06
3                    2.825405e+06                3.475302e+07
4                    5.618988e+05                1.292639e+07

   estabs_entry_rate_weighted_weighted  NAICS  \
0                         6.876181e+10     11
1                         2.402812e+11     21
2                         9.842876e+11     22
3                         1.040957e+13     23
4                         2.389730e+12     42

                                      Industry        Basis  \
0  Agriculture, forestry, fishing, and hunting  All workers
1                                       Mining  All workers
2                                    Utilities  All workers
3                                 Construction  All workers
4                              Wholesale trade  All workers

                     Measure             Units  tfp_value
0  Total factor productivity  Index (2017=100)     68.776
1  Total factor productivity  Index (2017=100)     66.059
2  Total factor productivity  Index (2017=100)     76.927
3  Total factor productivity  Index (2017=100)    116.637
4  Total factor productivity  Index (2017=100)     68.663

[5 rows x 41 columns]

In [11]:
import pandas as pd
import numpy as np

# Step 1: Extract 2-digit NAICS codes from the 4-digit codes in the BDS dataset
bds_df['naics2'] = bds_df['vcnaics4'].astype(str).str[:2]

# Step 2: Convert all numeric columns in bds_df to proper numeric type
# First identify all rate columns
rate_cols = [col for col in bds_df.columns if 'rate' in col]
count_cols = [col for col in bds_df.columns if col not in rate_cols + ['year', 'naics2', 'vcnaics4']]

# Convert all numeric columns to proper numeric type
for col in rate_cols + count_cols:
    bds_df[col] = pd.to_numeric(bds_df[col], errors='coerce')

# Step 3: Calculate weights for weighted averages (using employment as weight)
bds_df['weight'] = bds_df['emp'].fillna(0)  # Replace any NaN with 0

# Step 4: Reshape the TFP dataset from wide to long format
tfp_long_df = pd.melt(
    sectoral_tfp_df,
    id_vars=['NAICS', 'Industry', 'Basis', 'Measure', 'Units'],
    value_vars=[str(year) for year in range(1987, 2024)],
    var_name='year',
    value_name='tfp_value'
)

# Convert year column to numeric for proper joining
tfp_long_df['year'] = pd.to_numeric(tfp_long_df['year'])

# Convert tfp_value to numeric
tfp_long_df['tfp_value'] = pd.to_numeric(tfp_long_df['tfp_value'], errors='coerce')

# Clean up and standardize the NAICS codes in the TFP dataset
tfp_long_df['naics2'] = tfp_long_df['NAICS'].astype(str).str.extract(r'^(\d{2})').iloc[:, 0]

# Step 5: Aggregate the BDS data to the 2-digit NAICS level
# Define aggregation methods for different column types
agg_dict = {}

# For count columns, we sum
for col in count_cols:
    agg_dict[col] = 'sum'

# For rate columns, we'll compute weighted average later
# (Skip them in the initial aggregation)

# Perform the basic aggregation for count columns
grouped = bds_df.groupby(['year', 'naics2'])
bds_agg = grouped.agg(agg_dict)

# Step 6: Calculate weighted averages for rate columns manually
for col in rate_cols:
    # Calculate the weighted values (skip NaN values)
    bds_df[f'{col}_weighted'] = bds_df[col] * bds_df['weight']
    
    # Sum the weighted values and the weights
    weighted_sums = grouped[f'{col}_weighted'].sum()
    weights = grouped['weight'].sum()
    
    # Calculate the weighted average and handle division by zero
    # Add a small epsilon to weights to avoid division by zero
    epsilon = 1e-10
    bds_agg[col] = weighted_sums / (weights + epsilon)

# Reset index to get regular columns
bds_agg = bds_agg.reset_index()

# Step 7: Merge the aggregated BDS data with the TFP data
merged_df = pd.merge(
    bds_agg,
    tfp_long_df,
    how='inner',
    left_on=['year', 'naics2'],
    right_on=['year', 'naics2']
)

# Step 8: Check the merged dataset
print(f"Merged dataset shape: {merged_df.shape}")
print(f"Aggregated BDS dataset shape: {bds_agg.shape}")
print(f"Transformed TFP dataset shape: {tfp_long_df.shape}")

# View the first few rows of the merged dataset
print("\nMerged dataset preview:")
print(merged_df.head())

# Optional: Filter for specific TFP measures if needed
# If you want to keep only Total factor productivity measure:
merged_tfp_df = merged_df[merged_df['Measure'] == 'Total factor productivity']

# Save the merged dataset to a new CSV file if desired
# merged_df.to_csv('merged_bds_tfp_data.csv', index=False)

Merged dataset shape: (252720, 34)
Aggregated BDS dataset shape: (1035, 28)
Transformed TFP dataset shape: (269730, 8)

Merged dataset preview:
   year naics2  firms  estabs     emp   denom  estabs_entry  estabs_exit  \
0  1987     11  18441   18977  170858  170502        3109.0       2811.0
1  1987     11  18441   18977  170858  170502        3109.0       2811.0
2  1987     11  18441   18977  170858  170502        3109.0       2811.0
3  1987     11  18441   18977  170858  170502        3109.0       2811.0
4  1987     11  18441   18977  170858  170502        3109.0       2811.0

   job_creation  job_creation_births  ...  job_destruction_rate  \
0         47169              17183.0  ...             26.975288
1         47169              17183.0  ...             26.975288
2         47169              17183.0  ...             26.975288
3         47169              17183.0  ...             26.975288
4         47169              17183.0  ...             26.975288

   net_job_creation_rate  reallocation_rate  estabs_entry_rate_weighted  \
0               0.706489          51.875942                930068.15733
1               0.706489          51.875942                930068.15733
2               0.706489          51.875942                930068.15733
3               0.706489          51.875942                930068.15733
4               0.706489          51.875942                930068.15733

   NAICS                                     Industry        Basis  \
0     11  Agriculture, forestry, fishing, and hunting  All workers
1     11  Agriculture, forestry, fishing, and hunting  All workers
2     11  Agriculture, forestry, fishing, and hunting  All workers
3     11  Agriculture, forestry, fishing, and hunting  All workers
4     11  Agriculture, forestry, fishing, and hunting  All workers

                     Measure             Units  tfp_value
0  Total factor productivity  Index (2017=100)     68.776
1       Real sectoral output  Index (2017=100)     72.720
2            Combined inputs  Index (2017=100)    105.735
3              Capital input  Index (2017=100)    101.071
4                Labor input  Index (2017=100)    101.747

[5 rows x 34 columns]

In [19]:
merged_tfp_df.head()

,year,naics2,firms,estabs,emp,denom,estabs_entry,estabs_exit,job_creation,job_creation_births,...,job_destruction_rate,net_job_creation_rate,reallocation_rate,estabs_entry_rate_weighted,NAICS,Industry,Basis,Measure,Units,tfp_value
0,1987,11,18441,18977,170858,170502,3109.0,2811.0,47169,17183.0,...,26.975288,0.706489,51.875942,930068.15733,11,"Agriculture, forestry, fishing, and hunting",All workers,Total factor productivity,Index (2017=100),68.776
38,1987,11,18441,18977,170858,170502,3109.0,2811.0,47169,17183.0,...,26.975288,0.706489,51.875942,930068.15733,11,"Agriculture, forestry, fishing, and hunting",All workers,Total factor productivity,% Change from previous year,NaN
90,1987,11,18441,18977,170858,170502,3109.0,2811.0,47169,17183.0,...,26.975288,0.706489,51.875942,930068.15733,111-112,Crop & animal production (Farms),All workers,Total factor productivity,Index (2017=100),66.315
128,1987,11,18441,18977,170858,170502,3109.0,2811.0,47169,17183.0,...,26.975288,0.706489,51.875942,930068.15733,111-112,Crop & animal production (Farms),All workers,Total factor productivity,% Change from previous year,NaN
180,1987,11,18441,18977,170858,170502,3109.0,2811.0,47169,17183.0,...,26.975288,0.706489,51.875942,930068.15733,113-115,"Forestry, fishing, and related activities",All workers,Total factor productivity,Index (2017=100),114.554