In [3]:
import pandas as pd

In [5]:
filepath = '../processed_data/two_digit_NAICS_bds_tfp.csv'

df = pd.read_csv(filepath)
df.head()

,year,NAICS,firms,estabs,emp,denom,estabs_entry,estabs_entry_rate,estabs_exit,estabs_exit_rate,...,reallocation_rate,firmdeath_firms,firmdeath_estabs,firmdeath_emp,Industry,Basis,weight,tfp_pct_change,tfp_index_2017,firms_percent_destroyed
0,1987,11,18421,18977,170858,170501,3109,16.513,2811,14.930,...,54.075,2058,2060,11605,"Agriculture, forestry, fishing, and hunting",All workers,0.009333,N.A.,68.776,11.172032
1,1987,21,21621,27222,578807,632507,3291,11.498,6090,21.278,...,30.951,4029,4064,31974,Mining,All workers,0.006984,N.A.,66.059,18.634661
2,1987,22,5844,12393,774290,772758,654,5.294,575,4.655,...,11.146,313,315,1606,Utilities,All workers,0.013570,N.A.,76.927,5.355921
3,1987,23,485658,492062,4965017,4877830,90479,18.838,66956,13.940,...,50.605,49892,49934,282447,Construction,All workers,0.030664,N.A.,116.637,10.273073
4,1987,31-33,286017,332737,16522435,16658447,35126,10.577,33854,10.194,...,22.779,23996,24227,300581,Manufacturing sector,All workers,0.101077,N.A.,76.544,8.389711

In [ ]:
df.columns

Index(['year', 'NAICS', 'firms', 'estabs', 'emp', 'denom', 'estabs_entry',
       'estabs_entry_rate', 'estabs_exit', 'estabs_exit_rate', 'job_creation',
       'job_creation_births', 'job_creation_continuers',
       'job_creation_rate_births', 'job_creation_rate', 'job_destruction',
       'job_destruction_deaths', 'job_destruction_continuers',
       'job_destruction_rate_deaths', 'job_destruction_rate',
       'net_job_creation', 'net_job_creation_rate', 'reallocation_rate',
       'firmdeath_firms', 'firmdeath_estabs', 'firmdeath_emp', 'Industry',
       'Basis', 'weight', 'tfp_pct_change', 'tfp_index_2017',
       'firms_percent_destroyed'],
      dtype='object')

In [17]:
df.dtypes

year                             int64
NAICS                           object
firms                            int64
estabs                           int64
emp                              int64
denom                            int64
estabs_entry                     int64
estabs_entry_rate              float64
estabs_exit                      int64
estabs_exit_rate               float64
job_creation                     int64
job_creation_births              int64
job_creation_continuers          int64
job_creation_rate_births       float64
job_creation_rate              float64
job_destruction                  int64
job_destruction_deaths           int64
job_destruction_continuers       int64
job_destruction_rate_deaths    float64
job_destruction_rate           float64
net_job_creation                 int64
net_job_creation_rate          float64
reallocation_rate              float64
firmdeath_firms                  int64
firmdeath_estabs                 int64
firmdeath_emp                    int64
Industry                        object
Basis                           object
weight                         float64
tfp_pct_change                  object
tfp_index_2017                 float64
firms_percent_destroyed        float64
estabs_entry_rate_lag          float64
estabs_exit_rate_lag           float64
job_creation_rate_lag          float64
job_destruction_rate_lag       float64
reallocation_rate_lag          float64
dtype: object

In [ ]:
'''
which way round is the causality? You would think to have business dynamism on the RHS as a proxy for creative destruction
'''

In [29]:
# Business dynamism measures
 # 'job_creation_rate', 'job_destruction_rate'
bus_vars = [ 'reallocation_rate', 'estabs_entry_rate', 'estabs_exit_rate']

# generate lags
for v in bus_vars:
    df[f"{v}_lag"] = df.groupby("NAICS")[v].shift(1)

In [30]:
# Convert tfp_pct_change to numeric, replacing non-numeric values with NaN
df['tfp_pct_change'] = pd.to_numeric(df['tfp_pct_change'], errors='coerce')

# Drop rows where tfp_pct_change is NaN
df_clean = df.dropna(subset=['tfp_pct_change'])

In [31]:
df_clean.head()

,year,NAICS,firms,estabs,emp,denom,estabs_entry,estabs_entry_rate,estabs_exit,estabs_exit_rate,...,Basis,weight,tfp_pct_change,tfp_index_2017,firms_percent_destroyed,estabs_entry_rate_lag,estabs_exit_rate_lag,job_creation_rate_lag,job_destruction_rate_lag,reallocation_rate_lag
1,1988,11,18757,19233,178943,174832,3139,16.423,2899,15.168,...,All workers,0.008802,-7.9,63.369,10.993229,16.513,14.930,27.669,27.037,54.075
2,1989,11,19066,19577,179228,179791,3020,15.554,2698,13.896,...,All workers,0.008845,5.5,66.843,10.510857,16.423,15.168,29.056,24.317,48.634
3,1990,11,19708,20253,183371,181703,3324,16.681,2672,13.409,...,All workers,0.008622,5.5,70.492,9.813274,15.554,13.896,24.794,25.445,49.589
4,1991,11,20140,20668,183846,185670,2904,14.042,2931,14.172,...,All workers,0.008256,0.8,71.025,10.307845,16.681,13.409,25.378,23.566,47.133
5,1992,11,20283,20789,186909,184322,3036,14.671,2847,13.757,...,All workers,0.008289,7.1,76.087,10.397870,14.042,14.172,24.052,26.196,48.104

In [32]:
import statsmodels.formula.api as smf

formula = (
    "tfp_pct_change ~ " +
    " + ".join(bus_vars) +                       # contemporaneous
    " + " + " + ".join([v+"_lag" for v in bus_vars]) +  # lagged
    " + C(NAICS) + C(year)"                      # industry & year FE
)

fe_mod = smf.ols(formula=formula, data=df_clean).fit(
    cov_type="cluster", cov_kwds={"groups": df_clean["year"]}
)
print(fe_mod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         tfp_pct_change   R-squared:                       0.107
Model:                            OLS   Adj. R-squared:                  0.018
Method:                 Least Squares   F-statistic:                     19.62
Date:                Sat, 24 May 2025   Prob (F-statistic):           1.56e-13
Time:                        14:34:31   Log-Likelihood:                -1561.0
No. Observations:                 630   AIC:                             3238.
Df Residuals:                     572   BIC:                             3496.
Df Model:                          57
Covariance Type:              cluster
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                -1.0856      2.573     -0.422      0.673      -6.129       3.958
C(NAICS)[T.21]            0.0760      1.247      0.061      0.951      -2.368       2.520
C(NAICS)[T.22]            0.3820      1.543      0.248      0.804      -2.642       3.406
C(NAICS)[T.23]           -1.8113      0.763     -2.374      0.018      -3.307      -0.316
C(NAICS)[T.31-33]        -0.2201      1.097     -0.201      0.841      -2.370       1.929
C(NAICS)[T.42]            0.0512      0.899      0.057      0.955      -1.711       1.813
C(NAICS)[T.48-49]        -1.0106      1.024     -0.987      0.324      -3.018       0.997
C(NAICS)[T.51]           -0.3382      0.989     -0.342      0.732      -2.276       1.599
C(NAICS)[T.52]           -0.8534      0.965     -0.884      0.376      -2.745       1.038
C(NAICS)[T.53]           -0.9012      0.897     -1.005      0.315      -2.659       0.856
C(NAICS)[T.54]           -0.3042      0.869     -0.350      0.726      -2.007       1.399
C(NAICS)[T.55]           -0.4297      1.010     -0.425      0.670      -2.409       1.550
C(NAICS)[T.56]           -0.6395      0.875     -0.731      0.465      -2.354       1.075
C(NAICS)[T.61]           -1.4471      1.185     -1.221      0.222      -3.769       0.875
C(NAICS)[T.62]           -1.1741      1.013     -1.159      0.247      -3.160       0.812
C(NAICS)[T.71]           -1.1400      1.007     -1.132      0.258      -3.114       0.834
C(NAICS)[T.72]           -0.6427      0.882     -0.729      0.466      -2.371       1.086
C(NAICS)[T.81]           -0.7911      0.964     -0.821      0.412      -2.680       1.098
C(year)[T.1989]           1.4544      0.194      7.480      0.000       1.073       1.835
C(year)[T.1990]           1.3287      0.272      4.893      0.000       0.797       1.861
C(year)[T.1991]           0.5838      0.347      1.683      0.092      -0.096       1.264
C(year)[T.1992]           2.2549      0.333      6.775      0.000       1.603       2.907
C(year)[T.1993]          -0.1726      0.342     -0.505      0.614      -0.843       0.497
C(year)[T.1994]           1.5507      0.377      4.116      0.000       0.812       2.289
C(year)[T.1995]           0.5434      0.392      1.385      0.166      -0.226       1.313
C(year)[T.1996]           1.7281      0.467      3.699      0.000       0.813       2.644
C(year)[T.1997]           2.4830      0.434      5.720      0.000       1.632       3.334
C(year)[T.1998]           0.4302      0.331      1.300      0.194      -0.219       1.079
C(year)[T.1999]           1.3278      0.440      3.021      0.003       0.466       2.189
C(year)[T.2000]           0.8845      0.420      2.105      0.035       0.061       1.708
C(year)[T.2001]           0.2108      0.476      0.442      0.658      -0.723       1.144
C(year)[T.2002]           3.0713      0.434      7.082      0.000       2.221       3.921
C(year)[T.2003]           1.3634      0.352      3.876      0.000       0.674       2.053
C(year)[T.2004]           1.9907      0.437      4.554      0.000       1.134       2.847
C(year)[T.2005]           0.6527      0.458      1.425      0.154      -0.245       1.551
C(year)[T.2006]           0.9748      0.474      2.058      0.040       0.047       1.903
C(year)[T.2007]           0.8932      0.562      1.589      0.112      -0.208       1.995
C(year)[T.2008]           0.0912      0.552      0.165      0.869      -0.991       1.174
C(year)[T.2009]           0.7514      0.764      0.984      0.325      -0.746       2.248
C(year)[T.2010]           1.7971      0.740      2.428      0.015       0.347       3.248
C(year)[T.2011]           0.3565      0.670      0.532      0.595      -0.957       1.670
C(year)[T.2012]           1.0799      0.639      1.689      0.091      -0.173       2.333
C(year)[T.2013]           1.0435      0.688      1.516      0.130      -0.306       2.393
C(year)[T.2014]           1.3562      0.686      1.978      0.048       0.012       2.700
C(year)[T.2015]           1.4887      0.722      2.063      0.039       0.074       2.903
C(year)[T.2016]           1.1295      0.730      1.547      0.122      -0.301       2.560
C(year)[T.2017]           1.5964      0.780      2.046      0.041       0.067       3.126
C(year)[T.2018]           0.8458      0.705      1.200      0.230      -0.535       2.227
C(year)[T.2019]           1.2101      0.771      1.569      0.117      -0.302       2.722
C(year)[T.2020]           0.1957      0.835      0.234      0.815      -1.440       1.832
C(year)[T.2021]           2.9925      0.799      3.747      0.000       1.427       4.558
C(year)[T.2022]           0.2018      0.627      0.322      0.747      -1.026       1.430
reallocation_rate        -0.0875      0.058     -1.516      0.130      -0.201       0.026
estabs_entry_rate        -0.0859      0.169     -0.509      0.611      -0.417       0.245
estabs_exit_rate          0.0717      0.159      0.451      0.652      -0.240       0.384
reallocation_rate_lag     0.0430      0.078      0.553      0.580      -0.109       0.195
estabs_entry_rate_lag     0.0530      0.219      0.242      0.808      -0.376       0.482
estabs_exit_rate_lag      0.1749      0.180      0.973      0.331      -0.178       0.527
==============================================================================
Omnibus:                       65.407   Durbin-Watson:                   2.176
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              432.383
Skew:                           0.063   Prob(JB):                     1.29e-94
Kurtosis:                       7.057   Cond. No.                     2.14e+03
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)
[2] The condition number is large, 2.14e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/Users/danielseymour/Developer/EC334-Summative/.venv/lib/python3.10/site-packages/statsmodels/base/model.py:1894: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 57, but rank is 23
  warnings.warn('covariance of constraints does not have full '